body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.SensorSetup {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0);
    margin-top: -25px;

}

.name{
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.flex{
     gap: 40px;
     display:flex;
     justify-content: space-around;
     margin-top: 20px;
     gap: 40px;
}
.saveNext {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
   background-color: rgb(39 116 169);
    color: white;
    border: none;
   border-radius: 5px;
    display: flex;
    position:fixed;
    bottom: 100px;
    margin-left:45%;
    font-weight: 700;
}
.saveNext:hover{
    transform: scale(1.1);
   box-shadow: 0px 0px 10px 2px rgba(208, 207, 207, 0.73);
}

.NoPin{
    color: rgb(156, 19, 19);
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.sensorType{
    color: white;
}

.Pinstyle {
    margin: 10px 0px;
    color: white;
    font-weight: 700;
}

.liveMonitorBtn {
    margin-left: 15px;
   bottom: -320px;
   left: -7px;
   position: relative;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .liveMonitorBtn:hover {
    background-color: #0097a7;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px rgba(208, 207, 207, 0.73);
  }
  