* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Harlow Solid Italic";
    src: local("Harlow Solid Italic"), local("HarlowSolidItalic");
    font-style: italic;
    font-weight: normal;
  }
  
  .custom-harlow {
    font-family: "Harlow Solid Italic", cursive;
  }

  @font-face {
    font-family: 'Akira Expanded';
    src: url('/fonts/bungee-v6-latin/bungee-v6-latin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Akira Expanded', sans-serif;
  }
  
  