
@font-face {
    font-family: 'Akira Expanded';
    src: url('/fonts/bungee-v6-latin/bungee-v6-latin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Akira Expanded', sans-serif;
  }